#footer .row {

    display: flex;
}
.register-course .wrap label {
   position: relative;
}
p.error_form {
    position: absolute;
    width: 100% !important;
    left: 0;
    font-size: 12px;
    color: red;
    top: 60px;
    text-align: center;
}
.nav ul li a.active
{
    background-color: #00afab;
    color: #fff !important;
}
select {
    width: 100%;
    flex: 1;
    height: 58px;
    padding: 0 20px;
    outline: none;
    border: 1px solid #dbe0df;
    font-family: main;
    font-size: 16px;
    cursor: pointer;
}
.loading-page
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: #20afab;
    border-radius: 50%;
    transform: scale(0);
    transition: all .5s;
}
.loading-page.active
{
    transform: scale(25);
}
label
{position: relative;}
#popupLogin p.error_form{
position: initial;    
}
.popup-form .wrap {
 
    padding: 30px 70px;
   
}
.popup-form .wrap input {

    height: 40px;
    
}
.demo
{
    padding: 200px 0; 
}
.notfound
{
    height: 100vh;
}
.homepage .section-testimonial .testimonial .testimonial-item .btn_ctr
{
    background-color: #333 !important;
}
#header .wrap .logo,#header .wrap .logo img
{
    height: 100%;
}